* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.visually-hidden {
    display: none;
}

.pagination-container .pagination {
    justify-content: flex-end;
}

main {
    padding-top: 50px;
    padding-bottom: 50px;
    min-height: 100vh;
    width: 100%;
}

.error-div {
    color: red;
    margin-top: 5px;
}

.form-control,
.form-control:focus {
    background-color: #3a3a3a;
    color: #fff;
    border: none;
}

.form-control::placeholder {
    color: rgba(255, 255, 255, 0.5);
}
